fastapi
pydantic[email]
fastapi_mail
sqlalchemy<2.0.18
python-jose
fastapi_pagination
passlib
python-multipart
boto3 
websockets
python-dateutil
Pillow
moviepy
langdetect
gtts
playsound
chime
celery
openai
translate
googletrans==4.0.0rc1
SpeechRecognition
pydub
better-profanity
pyttsx3