fastapi
pydantic[email]
fastapi_mail
sqlalchemy<2.0.18
python-jose
fastapi_pagination
passlib
python-multipart
boto3 
websockets
python-dateutil
Pillow
moviepy
langdetect
gTTS==2.3.2
playsound
chime
openai
translate
googletrans==3.1.0a0
SpeechRecognition
pydub
better-profanity
pyttsx3
redis
profanityfilter==2.0.6 
BeautifulSoup4
